<div *ngIf="!error" class="d-flex justify-content-center" style="margin-top:2%">
  <span *ngIf="katareceived">
  <div class="d-flex flex-column">
    <div class="p-2 title">
      {{kata.title}} <a routerLink="/kata-displayer/{{programID}}">- {{programTitle}}</a>
      <br><span class="subtitle">{{programSensei}} <span class="language"> {{kata.language}}</span></span>
      <span style="float:right"><span
        [ngClass]="{'TODO':kataStatus==='TODO','ON-GOING':kataStatus==='ON-GOING','RESOLVED':kataStatus==='RESOLVED','FAILED': kataStatus==='FAILED'}">{{kataStatus}}</span> | ATTEMPTS : {{nbAttempt}}</span>
    </div>


    <div class="p-2 "><label class="header">rules :</label><label style="margin-left: 20px;"
                                                                  class="header">{{this.filename}}</label></div>
    <div class="p-2 ">
      <textarea disabled style="text-align: justify">{{kata.rules}}</textarea>
      <app-terminal-code style="margin-left: 20px;" [code]="kata.canva" [type]="kata.language"
                         (new)="OnNewEvent($event)"></app-terminal-code>
    </div>
<div class="p-2 "><label [hidden]="assert" style="margin-right: 20px;" class="header">{{assertname}}</label><label
   [ngClass]="{'header':true,'no-assert':assert===true}" >output :</label></div>
    <div class="p-2">
      <app-terminal-assert [hidden]="assert" [code]="kata.cassert" [type]="kata.language"></app-terminal-assert>
      <textarea [ngClass]="{'success':status === 0,'error':status === 1,'':status === 2,'no-assert':assert===true}" style="white-space: pre-wrap;"
                disabled>{{result}}</textarea>
    </div>

    <div class="p-2">

      <button mat-button [hidden]="!isResolved" [disabled]="newTry" (click)="newtry()" style="margin-right: 10px">Try again</button>
      <button mat-button [disabled]="compiling || (isResolved && !newTry )" (click)="compile(kata.language,kata.canva,kata.cassert)"
              style="float:right">Run</button>
      <button mat-button [disabled]="compiling || isResolved" (click)="Surrender()"
              style="margin-right: 10px">Surrender</button>
    </div>
  </div>
    </span>
  <span *ngIf="!katareceived"><ngx-ui-loader></ngx-ui-loader></span>
</div>


<div *ngIf="error">
  <app-rnot-found></app-rnot-found>
</div>


<ngx-alerts></ngx-alerts>
