input{
  width: 100%;
  background-color: rgba(43, 47, 57, 1);
  border: 1px solid rgba(63, 67, 77, 1);
  border-radius: 7px;
  color: rgba(236, 240, 241, 1.0);
  padding: .6em 1.4em .5em .8em;
}

input:focus{
  background-color: rgba(43, 47, 57, 1);
  color: var(--color-cloud);
  outline:none;
}

select {

  //padding: .6em 1.4em .5em .8em;
  color: rgba(236, 240, 241, 1.0);
  background-color: rgba(43, 47, 57, 1);
  width: 100%;
  max-width: 100%;
  margin: 0;
  border: 1px solid rgba(63, 67, 77, 1);
  border-radius: 7px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

select:focus{
  background-color: rgba(43, 47, 57, 1);
  color: var(--color-cloud);
  outline:none;
}

textarea:focus{
  background-color: rgba(43, 47, 57, 1);
  color: var(--color-cloud);
  outline:none;
}

label{
  margin-top:.4em;
  color : var(--color-cloud);
}

textarea{
  padding: .6em 1.4em .5em .8em;
  color: var(--color-cloud);
  background-color: var(--color-dark-blue);
  width: 100%;
  max-width: 100%;
  margin: 0;
  height: 10rem;
  border: 1px solid var(--color-light-blue);
  border-radius: 7px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

fieldset {
  border: 3px solid var(--color-light-blue);
  border-radius: 6px;
  width:500px;
  padding: 1rem;
}

legend {
  text-align: center;
  color : var(--color-cloud);

}

*{
  font-family: "Helvetica Neue";

}

