
.language {
  color: var(--color-language);
}

.title {
  font-size: 20px;
  color:var(--color-cloud);
}
.subtitle{

  font-size:15px;
  color:var(--color-dark-grey) !important;
}

* {
  font-family: "Helvetica Neue";

}
.card {
  background-color: var(--color-dark-blue);
}
a {
  text-decoration: none;
}

.difficulty{
  color:var(--color-sunflower);
  float:right;
}

.card:hover{
  background-color: var(--color-electro);
  border:1px solid var(--color-electro);
}
