<div *ngIf="!error" class="d-flex justify-content-center" style="margin-top:2%">

  <div class="container">
    <span *ngIf="inforreceived">
    <span class="title">{{programTitle}}
      <br>
    <span class="subtitle">{{programSensei}} <span class="language"> {{programLanguage}}</span>
    </span>
      <input type="button" value="Create" routerLink="/kata_create/{{idProgram}}/{{programLanguage}}"/>
  </span>
    </span>
    <span *ngIf="katas">
  <div class="d-flex justify-content-start" style="margin-top:2%">
    <div class="d-flex flex-row">
      <span *ngFor="let kata of katas">
        <div class="p-2">
        <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><a class="title"
                                    routerLink="/kata/{{idProgram}}/{{kata.id}}">{{kata.title}}</a></h5>
          <br/>
          <h6 class="card-subtitle mb-2 text-muted">{{kata.difficulty}} </h6>
          <span style="float: right;">{{kata.status}}</span>
          <br/>
          <br/>
          <!--<p class="card-text">{{kata.description}}</p>-->
          </div>
        </div>
        </div>
      </span>
    </div>
  </div>
  </span>
  </div>

  <span *ngIf="!katas || !inforreceived"><ngx-ui-loader></ngx-ui-loader></span>
</div>

<div *ngIf="error">
  <app-rnot-found></app-rnot-found>
</div>

