<mat-nav-list>
  <h2>Actions on {{data.title}}</h2>
  <a mat-list-item (click)="delete()">
    <span mat-line>Delete</span>
    <span mat-line>Delete the kata, cannot be undone</span>
  </a>

  <a mat-list-item (click)="deactivate()">
    <span mat-line>Deactivate</span>
    <span mat-line>The kata will be deactivate, users won't be able to accomplish it anymore</span>
  </a>

  <a mat-list-item routerLink="program/kata/modify/{{data.id}}">
    <span mat-line>Modify</span>
    <span mat-line>Modify kata</span>
  </a>

</mat-nav-list>

