<div class="d-flex justify-content-center" style="margin-top:2%">
  <div class="d-flex flex-column">
    <fieldset>
      <legend>New program</legend>
    <div class="p-2"><label>Title</label><input placeholder="Some title.." type="text" [(ngModel)]="programTitle" /></div>
      <div class="p-2"><label>Targeted language</label><select (change)="update($event)"><option value="python">python</option><option value="java">java</option></select></div>
    <div class="p-2"><label>Program description</label><textarea [(ngModel)]="programDescr" placeholder="Some text.."></textarea></div>
    <div class="p-2"><label>Tags</label><input type="text" [(ngModel)]="programTags" placeholder=" arrays,writeable,.."/></div>
    <div class="p-2">

        <input type="button" (click)="createProgram(false)" value="CREATE"/>
        <input type="button" (click)="createProgram(true)" style="float:right" value="CREATE + NEW KATA"/>
    </div>
    </fieldset>
  </div>
</div>
<!-- Material input -->
<div class="md-form">
  <i class="fas fa-envelope prefix"></i>
  <input type="text" id="inputIconEx1" class="form-control">
  <label for="inputIconEx1">E-mail address</label>
</div>
