ace-editor{
  width:500px;
  height: 300px;
  border-radius: 6px;
  font: 12px/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
  border: 2px solid rgba(44, 62, 80, 1.0);
  padding: 10px;

}
