<div class="container" *ngIf="!error">
  <div *ngIf="inforreceived">
    <h1 class="title" style="margin:2rem 0 0 2rem;">{{programTitle}}
      <br/>
      <span class="subtitle">{{programSensei}} <span class="language"> {{programLanguage}}</span>
    </span>

      <button mat-button style="margin:0 3rem 0 0;float:right;" *ngIf="isOwner"
              routerLink="/kata_create/{{idProgram}}/{{programLanguage}}">Create a new kata
      </button>
      <button mat-button style="margin:0 3rem 0 0;float:right" *ngIf="isOwner" (click)="openDialog()">Delete
        this
        program
      </button>
      <button mat-button style="margin:0 3rem 0 0;float:right" *ngIf="!isOwner"
              (click)="subscribe()">{{subvalue}}</button>
    </h1>

  </div>
  <br/>

  <div *ngIf="katas" disabled [ngClass]="isSubscribed ? '' : 'notsub'">

    <div class="d-flex flex-wrap justify-content-start">
    <span *ngFor="let kata of katas">
        <div class="card" >
          <div class="card-body">
            <h5 class="card-title"><a class="title"
                                      routerLink="/kata/{{idProgram}}/{{kata.id}}">{{kata.title}}</a>
            <span style="float:right;"
                  [ngClass]="{'TODO':kata.status==='TODO','ON-GOING':kata.status==='ON-GOING','RESOLVED':kata.status==='RESOLVED','FAILED': kata.status==='FAILED'}">{{kata.status}}</span></h5>
            <br/>
            <h6 class="card-subtitle mb-2 text-muted">{{kata.difficulty}}</h6>
            <button mat-button *ngIf="isOwner" (click)="openBottomSheet(kata.title,kata.id)"
                    class="card-link">+</button>
            <!--<button mat-button *ngIf="isOwner" routerLink="#">Statistics</button>-->
            <!--<p class="card-text">{{kata.description}}</p>-->
          </div>
        </div>
      </span>
    </div>
  </div>
</div>

<span *ngIf="!katas || !inforreceived"><ngx-ui-loader></ngx-ui-loader></span>

<div *ngIf="error">
  <app-rnot-found></app-rnot-found>
</div>

