
.language {
  color: var(--color-language);
}

.title {

  font-size: 20px;
  color:var(--color-cloud);
}
.subtitle{

  font-size:15px;
  color:var(--color-dark-grey) !important;
}
.deactivated{
  pointer-events: none;

  /* for "disabled" effect */
  opacity: 0.5;
  background: var(--color-dark-blue);
}
.deactivatedcard{
  pointer-events: none;
  /* for "disabled" effect */
  opacity: 0.5;
  background: var(--color-dark-blue);
}


* {
  font-family: "Helvetica Neue";

}
.card {
  width: 18rem;
  margin: 2rem;
  background-color: var(--color-dark-blue);
}

a{
  color: var(--color-cloud);
}

a:hover{
  color: var(--color-cloud);
}


.card:hover{
  background-color: var(--color-electro);
  border:1px solid var(--color-electro);
}

.TODO {
  color: var(--color-sunflower);
}

.RESOLVED {
  color: rgba(46, 204, 113, 1.0);
}

.ON-GOING {
  color: rgba(230, 126, 34, 1.0);
}

.FAILED{
  color:rgba(231, 76, 60,1.0);
}

.DISABLED{
  color: rgba(9, 132, 227, 1.0);
}


.tag {
  background-color: rgba(99, 110, 114, 0.4);
  color: rgba(9, 132, 227, 1.0);
  padding: 3px;
  margin-right: 3px;
}

.card-link{
  border-bottom: 1px solid var(--color-language-hover);
  cursor: pointer;
  float:right;
}
