<div class="d-flex justify-content-center" style="margin-top:2%">
  <div class="d-flex flex-column">

    <div class="p-2"><label (click)="toggleOptions()" class="header">Kata's options (click me)</label></div>
    <div class="p-2" [hidden]="options">
      <input type="text" placeholder=" Some title.." [(ngModel)]="title"/>
      <select (change)="UpdateChoice($event)">
        <option value="true" selected="selected">
          Display assert box
        </option>
        <option value="false">Don't display assert box</option>
      </select>
      Unlock solution at
      <input type="number" value="0" [(ngModel)]="numberOfAttempt"/> attempts.
    </div>
    <div class="p-2"><label (click)="toggleInstructions()" class="header">Kata's instructions (click me)</label></div>
    <div class="p-2" [hidden]="instructions"><textarea class="rules" [(ngModel)]="rules"></textarea></div>


    <div class="p-2"><label class="header">Kata's Solution and assert</label></div>


    <div class="p-2">
      <app-terminal-code [code]="solution" [type]="language" (new)="OnNewEventSolution($event)"></app-terminal-code>
      <app-terminal-code style="margin-left: 20px;" [code]="assert" [type]="language"
                         (new)="OnNewEventAssert($event)"></app-terminal-code>
    </div>


    <div class="p-2">
      <app-terminal-code [code]="canva" [type]="language" (new)="OnNewEventCanva($event)"></app-terminal-code>
      <textarea [ngClass]="{'success':status === 0,'error':status === 1,'':status === 2}"
                style="white-space: pre-wrap" disabled>{{result}}</textarea>
    </div>


    <div class="p-2">
      <input (click)="try()" class="button" type="button" value="Try my solution"/>
      <input (click)="publish()" class="button" type="button" style="float:right" value="Create kata"/>
    </div>

  </div>
</div>


