<select (change)="update($event)">
  <option value="help">?</option>
  <option value="python">Python 3</option>
  <option value="java">Java</option>
</select>
<br/>

<br/>
<textarea disabled rows="20" cols="100" [(ngModel)]="help">
</textarea>

<pre><code [highlight]="code"></code></pre>

<!--<textarea rows="20" cols="100" [(ngModel)]="placeholer">
</textarea>-->
<br/>
<textarea disabled rows="20" cols="100" [(ngModel)]="assert">
</textarea>
<textarea [ngClass]="{'success':status === 0,'error':status === 1,'':status === 2}" style="white-space: pre-wrap" disabled rows="20" cols="100"
          [(ngModel)]="result">
</textarea>
<br/>
<button *ngIf="display_button" (click)="compile(placeholer,assert)" class="code">compile</button>


