<select (change)="update($event)">
  <option value="plain_text">?</option>
  <option value="python">Python 3</option>
  <option value="java">Java</option>
</select>
<br/>

<br/>
  <textarea disabled [(ngModel)]="help"></textarea>
  <app-ace [code]="code" [type]="type" (new)="OnNewEvent($event)"></app-ace><br>
  <app-ace-assert [code]="assert" [type]="type"></app-ace-assert>
  <textarea [ngClass]="{'success':status === 0,'error':status === 1,'':status === 2}" style="white-space: pre-wrap" disabled [(ngModel)]="result"></textarea>





<br/>
<button *ngIf="display_button" (click)="compile(code,assert)" class="code">compile</button>


