<div class="container"  *ngIf="inforreceived" style="margin-top:5%;">

  <form [formGroup]="GoalForm">
    <h1>GOALS</h1>
    <hr>
    <mat-grid-list cols="2" rowHeight="420">

      <mat-grid-tile>

        <div class="form-group">
            <textarea style="margin: 0px;height: 400px" class="form-control" formControlName="instruction"
                      [ngClass]="{ 'is-invalid': submitted && f.instruction.errors }" ></textarea>
          <div *ngIf="submitted && f.instruction.errors" class="invalid-feedback">
            <div *ngIf="f.instruction.errors.required">Please fill the required field</div>
          </div>

        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div style="margin: 0px;" class="markdown-output" [data]="f.instruction.value" markdown>

        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </form>
  <button mat-button routerLink="/kata-displayer/{{programid}}">Cancel</button>
  <button mat-button (click)="publish()" style="float:right">Publish</button>
</div>
<span *ngIf="!inforreceived"><ngx-ui-loader></ngx-ui-loader></span>

<div *ngIf="error">
  <app-rnot-found></app-rnot-found>
</div>
