<div class="d-flex justify-content-center" style="margin-top:2%">
  <div *ngIf="programs" class="d-flex flex-column">
    <div class="p-2"><h1>All available programs</h1></div>
    <div class="p-2">
  <span *ngFor="let program of programs">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <a routerLink="/kata-displayer/{{program.programID}}">
            <h5 class="card-title">{{program.title}}</h5></a>
          <h6 class="card-subtitle mb-2 text-muted"><a class="sensei" href="">{{program.sensei}} </a>
            <a href=""><span class="language">{{program.language}}</span></a></h6>
        <br/>
        <p class="card-text">{{program.description}}</p>
        <span *ngFor="let tag of program.tags">
        <span class="tag">{{tag}}</span>
        </span>
        <span class="nbkata">#{{program.nbKata}}</span>
        </div>
      </div>
  </span>
    </div>
  </div>
  <div class="d-flex flex-column" *ngIf="programReceivedFailed">
    <div class="p-2">
      <h1>Oops.. no program available ..</h1>
    </div>
    <h2><a routerLink="/program_create">Create a new program</a></h2>
  </div>
</div>
